.wpapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 30%;
  width: 378px;
  padding: 40px 60px;
  height: 378px;
  border: 1px solid #2303da;
  background-color: #fff;
  z-index: 1;
}

.icon {
  width: 66px;
  height: 66px;
  margin: 0 auto;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  margin-left: 90px;
  width: 200px;
  height: 24px;
}

.text {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 219px;
  height: 52px;
  margin-top: 80px;
  margin-left: 80px;
  margin-bottom: 20px;
}
