.root {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ea0303;
  padding: 300px 50px;
  width: 100vw;
  height: 100vh;
}
.title {
  font-style: 65px;
  color: #fff;
}
.btn {
  width: 300px;
  height: 40px;
  font-size: 25px;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}
